@charset "UTF-8";

@import "common/base.styl";
@import "common/layout.styl";

/* =======================================================================
	Section
========================================================================== */
.section {
	padding: 180px 0;
	text-align: center;
}

/* =======================================================================
	Mainimage
========================================================================== */
#mainimage {
	background-color: #ccc;
	text-align: center;
	h1 {
		display: inline-block;
	}
}

/* =======================================================================
	About
========================================================================== */
#about {
	#about-bg {
		canvas {
			top: 0;
			left: 0;
			z-index: -1
		}
	}
}

