/* =======================================================================
All
========================================================================== */
html,body {
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
}

img {
	width: 100%;
}

/* =======================================================================
Header
========================================================================== */
#header {
}

/* =======================================================================
Main
========================================================================== */
#main {
}

/* =======================================================================
Footer
========================================================================== */
#footer {
	padding: 80px 0;
	background-color: #ccc;
}
